OPENCODE_GO_API_KEY=
GMAIL_SMTP_USER=reinodybbol@gmail.com
GMAIL_APP_PASSWORD=
OLLAMA_URL=http://192.168.1.30:11434
FRIFORM_DB_PATH=/mnt/disk1/appdata/friform/friform.db
ADMIN_EMAIL=reinodybbol@gmail.com
EXEMPT_EXISTING_USERS=2
NEW_REGISTRATION_LIMIT=20
PORT=8963
